@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
}

#main {
  height: 100%;
  background-color: #eee;
  height: auto;
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#title {
  text-align: center;
  line-height: 1.5em;
  font-size: 4rem;
}

#title + p {
  display: block;
  margin: 1rem 0;
  text-align: center;
}

#img-div {
  background-color: #fff;
  padding: 10px;
} 

#image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#tribute-info h3 {
  margin: 50px 0;
  text-align: center;
}

#tribute-info ul {
  display: block;
  list-style-type: disc;
  max-width: 550px;
  margin: 0 auto 50px auto; 
  text-align: left;
  line-height: 1.6;
}

#tribute-info li {
  margin: 16px 0;
}

#tribute-info blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

#tribute-info a {
  color: #477ca7;
}